<!DOCTYPE html>
<html>
<head>
  <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel='stylesheet' href="{{app.request.basepath}}/css/app.css">

</head>
<body>
<center>
<h1>{{data.title}}</h1>
<div class='comment op'>
  <img class='avatar' src="https://gravatar.com/avatar/{{email}}" />
    <p class='username'><a href='users/{{username}}'>{{username}}</a></p><br />

  <article style="border-bottom:1px solid #">{{data.content}}</article>
</div>
{% for comment in comments %}
  <div class='comment'>
    <img class='avatar' src="https://gravatar.com/avatar/{{comment.user_email_hash}}" >
    <p class='username'><a href='/users/{{comment.user_name}}'>{{comment.user_name}}</a></p><br />
    <article>{{comment.content}}</article>
  </div>
{% endfor %}
<form action='/newcomment/{{data.id}}' method="POST">
<textarea name='content' class='comment-content'></textarea><br />
<input type="submit" class='button'>
</form>
</center>
</body>
</html>